.Form {
  background-color: rgb(96, 138, 185);
  height: 250px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 33%;
}

.Header{
  background-color: rgb(15, 15, 95);
  height: 200px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding-top: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
background-color: rgb(124, 192, 197);
}

.Footer{
  background-color: black;
  color: gray;
  text-align: center;
  height: 100px;
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}
